name: Release package

# Runs when a PR to main is merged, main branch is protected, so that only PRs to main are merged
on:
  push:
    branches:
      - main

jobs:
  release:
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22.14.0"
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'
          
      - name: Update npm for trusted publishing
        run: npm install -g npm@latest
        
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        
      - name: Build SDK
        run: pnpm build
        
      - name: Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          # Using npm provenance with OIDC - registry-url + id-token permission enables trusted publishing
